<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma-rtl.min.css">
    <title>Database Service</title>
</head>
<body>
<div class="container">
    <!-- NAVIGATION -->
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="compute.html">
                <h3><strong>gRPC Cloud Management</strong></h3>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="compute.html">Compute</a>
                <a class="navbar-item" href="database.html">Database</a>
                <a class="navbar-item" href="billing.html">Billing</a>
            </div>
        </div>
    </nav>

    <!-- MAIN -->
    <br>
    <p><strong>Database Portal</strong></p>
    <hr>
    <br>
    <div class="main-cols">
        <div class="columns">
            <div class="column">
                <div class="cols">

                    <div class="content">
                        <p>List databases per region: (Server Stream)</p>
                        <form method="GET">
                            <label for="cars">Choose a region</label>
                            <select id="region" name="region">
                                <option value="centralindia">Central India</option>
                                <option value="japaneast">Japan East</option>
                                <option value="ukwest">UK West</option>
                            </select>
                            <input type="submit" value="List Databases">
                        </form>
                    </div>
                    <hr>

                    <div class="content">
                        <p>Database Login: (Unary)</p>
                        <form method="GET">
                            <input type="text" placeholder="Username" name="userName">
                            <input type="text" placeholder="Password" name="password">
                            <input type="submit" value="Login">
                        </form>
                    </div>
                    <hr>

                    <div class="content">
                        <p>Database Upload: (Client Stream)</p>
                        <form method="GET">
                            <input type="text" placeholder="Database Name" name="databaseName">
                            <input type="text" placeholder="Token" name="databaseToken">
                            <input type="text" placeholder="Data (string)" name="payloadChunk">
                            <input type="submit" value="Upload">
                        </form>
                    </div>
                    <hr>

                </div>
            </div>
            <div class="column">
                <div class="cols">
                    <div>
                        {% for out in output %}
                            <p><strong>Message</strong></p>
                            <p style="border: 1px solid gray; padding: 10px">{{ out }}</p>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>