<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type= "text/css" href="../static/styles/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma-rtl.min.css">
    <title>Database Service</title>
</head>
<body>
<div class="container">
    <!-- NAVIGATION -->
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="compute.html">
                <h3><strong>gRPC Cloud Management</strong></h3>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="compute.html">Compute</a>
                <a class="navbar-item" href="database.html">Database</a>
                <a class="navbar-item" href="billing.html">Billing</a>
            </div>
        </div>
    </nav>

    <!-- MAIN -->
    <br>
    <p><strong>Database Portal</strong></p>
    <hr>
    <br>
</div>
</body>
</html>