<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma-rtl.min.css">
    <title>Compute Service</title>
</head>
<body>
<div class="container">
    <div style="text-align: center; margin-top: 50px">
        <h3 class="title is-h3"><strong>gRPC Cloud Management</strong></h3>
        <p><strong>Name:</strong> Kevin Brennan</p>
        <p><strong>Student No:</strong> x16149823</p>
        <hr>
        <a class="button is-primary" href="compute.html">Compute Portal</a>
        <a class="button is-primary" href="database.html">Database Portal</a>
        <a class="button is-primary" href="billing.html">Billing Portal</a>
    </div>
</div>
</body>
</html>